.navbar{
    width: 100vw;
    height: 60px;
    display:flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    font-family: 'Playfair Display', serif;
    background-color: #3332;
    box-shadow: 0 1px 5px #f44;
    &__logo{
        width: 40vw;
        height: 60px;
        display: flex;
        align-items: center;
        //justify-content: center;
        a{
            text-decoration: none;
            color: #cccccc;
            margin-left: 20px;
            h1{
                font-size: 2.3rem;
                font-weight: 500;
                font-style: italic;
                &:hover{
                    text-shadow: 0 0 10px #880000,0 0 10px #880000;
                }
            }
        }
    }
    &__links{
        width: 40vw;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #ccc;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-style: italic;
                }
                a:hover{
                    text-shadow: 0 0 10px #880000,0 0 10px #880000,0 0 10px #880000;
                }
            }
        }
        &-ul-li-active{
            border-bottom: 2px solid #999;
            text-shadow: 0 0 10px #880000,0 0 10px #880000,0 0 10px #880000;
        }
    }
}

@media screen and (max-width:876px) {
    #titulo{
        font-size: 1.8rem;
    }
}