<nav id="navbar" class="navbar">
    
    <div class="navbar__logo">
        <a routerLink="/home"><h1 id="titulo">Escrito con Sangre</h1></a>
    </div>
    <div class="navbar__links">
        <ul class="navbar__links-ul">
            <li class="navbar__links-ul-li"><a routerLink="/home" class="navbar__links-ul-li-a" routerLinkActive="navbar__links-ul-li-active">Home</a></li>
            <li class="navbar__links-ul-li"><a routerLink="/categories" class="navbar__links-ul-li-a" routerLinkActive="navbar__links-ul-li-active">Categorias</a></li>
            <li class="navbar__links-ul-li"><a routerLink="/login" class="navbar__links-ul-li-a" routerLinkActive="navbar__links-ul-li-active">Login</a></li>
            <li class="navbar__links-ul-li"><a href="#" class="navbar__links-ul-li-a" routerLinkActive="navbar__links-ul-li-active">Publicacion</a></li>
        </ul>
    </div>
</nav>