<div class="home">
    <div class="home__image">
        <app-home-image></app-home-image>
    </div>
    <div class="home__body">
        <div class="home__body-content">
            <div class="home__body-content-titles">
                <h2>Hello Welcome...</h2>
                <h3>A page to write poems that bleed</h3>
            </div>
            <div class="home__body-content-description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae nostrum optio fugit doloremque. Minus natus suscipit corrupti ad animi repudiandae optio voluptates repellendus dolor quasi quas rem, error ipsa nulla!, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime voluptate, veniam odit nisi numquam deleniti consequuntur soluta rem dolore fugiat quod quos ducimus. Earum libero tempore culpa dolore cum eveniet.</p>
            </div>
        </div>
    
        <div class="home__body-buttons">
            <button class="home__body-buttons-categories" (click)="routeCategorias()">Categories</button>
            <button class="home__body-buttons-login" (click)="routeLogin()">Login</button>
        </div>
    </div>
</div>
